---
layout: default
page_title: Home
meta_description: Description
---

<section class="min-h-screen bg-gray-200 flex items-center justify-center">
  <h1 class="text-4xl font-semibold">Minimal boilerplate</h1>
</section>