<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}">
    
    <link rel="stylesheet" href="/css/main.css">

    {# lastly include favicon, fonts, etc #}
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    {# canonical #}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

<body>

    <a class="sr-only" href="#main">Skip to content</a>

    <main id="main">
        {# include content #}
        {{ content | safe }}
    </main>
    
    {# include scripts #}
    <script src="/js/main.js" defer></script>
</body>
</html>
